
.heading-tag-line2 {
  font-size: 48px;
  font-style: normal;
  padding-bottom: 0.1rem;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #4ae06a;
}

.heading-underline2 {
  border: 2px solid #d4d2d2;
  margin: 0.5rem auto 1.5rem;
  width: 20%;
}
.venue-date {
  font-size: 1.5rem;
  color: #ffae00;
  width: 100%;
}
.venue-address {
  font-size:2rem;
  color: #fff;
  align-items: center;
  font-weight: 600;
  animation: fadeIn 1s;
  margin: 2%;
  width: 100%;
}

.venue-section {
  /* margin: 10px; */
  /* padding: 3rem; */
padding-bottom: 4rem;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
}

.venue-head-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.venue-container {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.venue-subsection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: .5%;
  padding-right: .5%;
  font-size: 1.5rem;
  color: #0a522a;
  font-weight: bold;
}

.venue-subheading-left {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
}

.venue-location a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  gap: 20px;
  font-family: Poppins;
  color: #fff;
  /* gap: 10px; */
}

.venue-location > a > h4 {
  margin: 0;
  color: #fff;
}

.venue-subheading-right {
  width: 100%;

}

.venue-subheading-right iframe {
  width: 100%;
  height: 350px;
  border: 1;
  border-radius: 10px;
  align-items: center;
}

.venue-location {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .venue-container {
    flex-direction: column;
    justify-content: center;
  }
  .heading-tag-line2 {
    font-size: 40px;
  }
  .venue-subsection {
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
    justify-content: center;
  }

  .venue-date {
    font-size: 2rem;
    color: #ffae00;
  }
  .venue-address {
    font-size:2rem;
  }
}
@media (min-width: 501px) and (max-width: 1200px) {
  .venue-subsection {
    flex-direction: column;
  }
}
