
.heading-tag-line2 {
  font-size: 48px;
  font-style: normal;
  padding-bottom: 0.1rem;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #333333;
}

.heading-underline2 {
  border: 2px solid #333333;
  margin: 0.5rem auto 1.5rem;
  width: 5%;
}

.venue-section {
  /* margin: 10px; */
  /* padding: 3rem; */
  padding-bottom: 4rem;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.venue-head-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.venue-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.venue-subsection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  color: #0a522a;
  font-weight: bold;
}

.venue-subheading-left {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  font-weight: bold;
}

.venue-location a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  gap: 10px;
  font-family: Poppins;
  color: #a414e7;
  /* gap: 10px; */
}

.venue-location > a > h4 {
  margin: 0;
  color: #a414e7;
}

.venue-subheading-right {
  width: 100%;
  align-items: center;
  max-width: 900px;
}

.venue-subheading-right iframe {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 10px;
  align-items: center;
}

.venue-location {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .venue-container {
    flex-direction: column;
    justify-content: center;
  }
  .heading-tag-line2 {
    font-size: 40px;
  }
  .venue-subsection {
    width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
    justify-content: center;
  }

  .venue-date {
    font-size: 2rem;
    color: #0a522a;
  }
  .venue-address {
    font-size:2rem;
    color: #0a522a;
    align-items: center;
    font-weight: bold;
    animation: fadeIn 1s;
    margin-top: 0;
    font-family: "Oswald", sans-serif;
  }
}
@media (min-width: 501px) and (max-width: 1200px) {
  .venue-subsection {
    flex-direction: column;
  }
}
