.about-section {
  padding-top: 0rem;

}

.about-head-section {
  padding-top: 0.4rem;
  padding-bottom: .4rem;
  background-color: #efa506;
}

.about-subsection {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  /* margin-left: 1rem; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  
}

.heading-tag-line3 {
  font-size: 48px;
  font-style: normal;
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.heading-underline3 {
  border: 2px solid #fff;
  margin: 0.5rem auto 1.5rem;
  width: 5%;
}
.about-left-section {
  flex: 1;
  color: #0000;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.responsive2 {
  width: 100%;
  height: auto;
  max-width:900px;
  text-align: center;
}
.about-right-section {
  flex: 0.5;
  padding-left: 20px;
}

.about-heading2 {
  color: #080808;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.about-heading {
  color: #efa506;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 500;
}

.about-left-section p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #eceaea;
}

.hackathon-image {
  width: 500px;
  height: auto;
  animation: imageAnimation 1s infinite alternate;
}



@keyframes imageAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}



@media (max-width: 480px) {
  .about-subsection {
    flex-direction: column;
  }

  .heading-tag-line3 {
      font-size: 40px;
  }

  .about-right-section {
    padding: 0;
    padding-right: 0px;
  }

  .about-left-section p {
    font-size: 18px;
    display: flex;
    text-align: left;
  }
  .about-heading {
    font-size: 30px;
  }
  .about-heading2 {
    font-size: 22px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .about-subsection {
    flex-direction: column;
  }

  .hackathon-image {
    max-width: 353px;
    height: 361px;
  }

  .about-left-section {
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-right-section {
    padding: 0;
  }

  .about-left-section p {
    font-size: 18px;
    display: flex;
    text-align: left;
  }
  .about-heading {
    font-size: 30px;
  }
  .about-heading2 {
    font-size: 22px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about-subsection {
    flex-direction: column;
  }

  .hackathon-image {
    width: 439px;
    height: 100%;
  }

  .about-left-section {
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-right-section {
    padding: 0;
  }

  .about-left-section p {
    font-size: 20px;
    display: flex;
    text-align: left;
  }
  .responsive2 {
    width: 90%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hackathon-image {
    width: 439px;
    height: 100%;
  }

  .about-left-section {
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-right-section {
    padding: 0;
  }

  .about-left-section p {
    font-size: 20px;
    display: flex;
    /* text-align: center; */
  }

}
