.divider-line {
  border: 1px solid #ffffff;
  margin: 0.5rem auto 1.5rem;
  width: 80%;
}

.icon1 {
    color: #ffffff;
  }

.title-line {
  color: #efa506;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

/* container */
.responsive-three-column-grid {
  display:block;
  color: #689e6a;
  text-align: center;
  font-size: 20px;
}

/* columns */
.responsive-three-column-grid > * {
  padding:3rem;
  max-width:800px;
}

/* tablet breakpoint */
@media (min-width:768px) {
  .responsive-three-column-grid {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      color: #689e6a;
      text-align: center;
      font-size: 20px;
  }
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: #000000;
  padding-top: 2%;
  padding-bottom: 0%;

}

.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.team-left-section {
  text-align: right;
  margin-right: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.team-right-section {
  text-align: left;
  margin-left: 0%;
  width: 100%;
  padding-right: 15%;
  max-width: 800px;
  color: #efa506;
  font-size: 20px;
  line-height: 1.5;
}

.leader1 img {
  width: 30%;
  position: relative;
  text-align: right;
  justify-content: right;
  display: inline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

/* Media queries for responsive design */

/* Screen size up to 480px */
@media (max-width: 480px) {
  .team-container {
    overflow: hidden;
    padding-top: 5%;
    /* margin-bottom: -75%; */
    padding-bottom: 10%;
    flex-direction: column;
  }

  .team-section {
    flex-direction: column;
    gap: 1rem;
  }

  .team-left-section {
    position: relative;
    top: -32%;
  }

  .team-right-section {
    top: -18%;
    padding-right: 0%;
    padding-right: 5%;
    padding-left: 5%;
  }

  .leader1 img {
    width: 180px;
    align-items: center;
  }
}

/* Screen size between 481px and 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .team-container {
    flex-direction: column;
    padding-top: 5%;
    /* margin-bottom: -50%; */
    padding-bottom: 5%;
    gap: 0rem;
  }

  .team-section {
    flex-direction: column;
    gap: 1rem;
  }

  .team-left-section {
    top: -18%;
  }

  .team-right-section {
    position: relative;
    top: -32%;
    padding-right: 5%;
    padding-left: 5%;
  }

  .leader1 img {
    width: 180px;
    align-items: center;
  }
}

/* Screen size between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .team-container {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .team-section {
    gap: 1rem;
  }

  .title-container {
    top: -20%;
  }

  .team-left-section {
    top: -20%;
    flex-basis: 100%;
  }

  .team-right-section {
    position: relative;
    padding-right: 15%;
  }

}


/* Screen size between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {

  .team-container {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .team-section {
    gap: 1rem;
  }

  .title-container {
    top: -20%;
  }

  .team-left-section {
    top: -20%;
    flex-basis: 100%;
  }

  .team-right-section {
    position: relative;
    padding-right: 15%;
  }

}

/* Screen size 1200px and above */
@media (min-width: 1200px) {
  /* Keep the default styles */
  .team-container {
    overflow: hidden;
  }
  


}
