@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

.leadership-section {
  background: #0a522a;
  padding-top: 1%;
}
.leadership-subsection {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leadership-heading {
  color: #000000;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  position: flex;
  flex-direction: row;
}

.leadership-left-section {
  color: #b3b1b1;

}

.leadership-left-section p {
  color: #b3b1b1;
}

.leadership-right-section {
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {

  justify-content: center;
  align-items: center;
}
